<section class="container">
    <div class="grid md:grid-cols-2 grid-cols-1 bg-black mt-[40px] rounded-[24px] sm:px-[24px] sm:pt-[24px] md:mb-[40px] mb-[24px]">
        <div class="lg:py-[80px] lg:pl-[60px] md:py-[40px] md:pl-[60px] max-w-[428px] flex flex-col gap-[24px]">
        <h2 class="text-[48px] leading-[48px] font-semibold font-inter bg-clip-text text-transparent bg-gradient-to-r from-[#9ABFFE] to-[#A9F9B1]">Get the Minance mobile app</h2>
        <p class="text-[14px] leading-[24px] text-line font-inter">The First Application that is widely use and trusted by many companies</p>
        <button class="mr-auto flex gap-[10px]">
            <p class="text-[14px] leading-[24px] text-white font-medium font-inter">Download App</p>
            <img class="-rotate-1" src="/arrowRight.png" alt="arrow right">
        </button>
        </div>
        <div class="flex justify-end">
        <img class="" src="/content-app.png" alt="content">
        </div>
    </div>
</section>