<footer class="bg-blueFooter w-full">
    <div class="container">
      <div class=" pt-[60px] grid md:grid-cols-2 grid-cols-1 justify-between">
        <div>
          <img src="/logo-smallFooter.svg" alt="logo-small">
          <p class="my-[40px] text-[14px] font-inter leading-[24px] text-line">At Minance, we help you achieve your financial goals with confidence. With 2 years of experience, we offer personalized financial planning and innovative banking services. Join us for a journey to financial stability and growth.</p>
          <div 
            x-data="{
            sosmeds : [
              { src: '/instagram.svg', name: 'Instagram' },
              { src: '/wa.svg', name: 'WhatsApp' },
              { src: '/youtube.svg', name: 'YouTube' },
              { src: '/linkedin.svg', name: 'LinkedIn' },
              { src: '/twiter.svg', name: 'Twitter' }
              ]
            }" 
            class="sosmed flex space-x-4">
            <template x-for="sosmed in sosmeds" :key="sosmed.src">
              <figure>
                <img :src="sosmed.src" :alt="`${sosmed.name} logo`" class="h-8 w-8">
              </figure>
            </template>
          </div>
        </div>
        <div class="md:flex block text-left justify-end lg:gap-[150px] md:gap-[50px] mt-[24px] mb-[60px] md:mb-0 md:mt-0">
          <div class="">
            <p class="text-[14px] leading-[24px] font-bold font-inter text-white">Company</p>
            <ul class="mt-[24px] flex flex-col gap-[16px] text-line text-[14px] leading-[24px] font-inter">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="mt-[16px] md:mt-0">
            <p class="text-[14px] leading-[24px] font-bold font-inter text-white">Contact Us</p>
            <p class="mt-[24px]"><a class="text-line text-[14px] leading-[24px] font-inter" href="#">+22 80 1234 4321</a></p>
            <p class="text-[14px] leading-[24px] font-bold font-inter text-white mt-[16px]">Support</p>
            <p class="mt-[24px]"><a class="text-line text-[14px] leading-[24px] font-inter" href="#">+22 80 1234 2233</a></p>
          </div>
        </div>
      </div>
      <figure class="lg:mt-[60px] md:mt-[42.48px] md:block hidden">
        <img src="/logo-bigFooter.png" alt="logo-big">
      </figure>
    </div>
  </footer>