<div class="all_style">
    <figure>
        <img src="./src/assets/logo-main.svg" alt="logo coba">
    </figure>
    <div class="nav_style bg-red-200">
        <ul class="ul_style">
            <li><a class="bg-red-200" href="#">About</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="line"></div>
        <div class="btn_style">
            <div x-data="{open: false , selectLanguage : 'eng'}" class="language_btn">
                <button @click="open = !open">
                    <span x-text="selectLanguage"></span>
                </button>
                <svg class="panah_style" :class="{'putar_bawah': open, 'putar_atas': !open}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
                <div x-show="open" @click.away="open = false" class="menu_drop">
                    <ul class="py-2">
                        <li>
                            <a href="#" @click="selectLanguage = 'eng'; open = false">eng</a>
                        </li>
                        <li>
                            <a href="#" @click="selectLanguage = 'ind' ; open = false">ind</a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="btn btn__primary">sign up</button>
        </div>
    </div>
</div>
